@import "tailwindcss";
/* Glow verde fisso */
.custom-navbar-glow {
    box-shadow: 0 0 20px #22c55e;
    transition: box-shadow 0.3s ease;
}

/* Glow più forte quando si scrolla */
.navbar-scrolled {
    box-shadow: 0 0 30px #22c55e;
}
